<strong>Olá, {{ deliveryMan }}</strong>
<p>Existe uma nova entrega disponível para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Dados da entrega:</strong>
  <strong>Nome: </strong> {{recipientName}} <br />
  <strong>Endereço: </strong> {{recipientDirection}} <br />
  <strong>Complemento:</strong>{{recipientComplement}} <br />
  <strong>Estado:</strong>{{recipientState}} <br />
  <strong>Cidade:</strong>{{recipientCity}} <br />
  <strong>CEP:</strong>{{recipientZipCode}} <br />

  <br />
  <small>
    Lembrando que as retiradas estão disponíveis das 8 às 18h. Não esqueça de
    atualizar o status da entrega.
  </small>
</p>
